<% include ../partials/header %>




<header class="jumbotron" id="jumbo-header">
    <div class="container jumbotron-container">
    <h1>Welcome to YelpCamp!</h1>
    <p>View our hand-picked campgrounds from around the world.</p>
    <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a></p>
    </div>
</header>

<div class="container">
<div class="row">
    <div class="col-lg-12">
        <h3 class="campgrounds__popular">Our most popular campgrounds</h3>
    </div>
    
    <% campgrounds.forEach(function(campground) { %>
    <div class="col-md-3 col-sm-6">
            <!--<img  class="img-fluid" src="<%= campground.image %>" />-->
            <div class="campground__thumb" style="background-image: url('<%= campground.image %>')"></div>
            <div class="caption">
                <h4 class="text-center"><%= campground.name %></h4>
                <p class="text-center"><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a></p>
            </div>
    </div>
    
<% }) %>

</div>

</div>

<% include ../partials/footer %>