.navbar {
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.img-lg {
    width: 100%;
}

.container {
    padding-top: 15px;
}

footer {
    padding: 15px;

}

.logged-in {
    color: #16a0db !important;
}

.caption {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.delete {
    display: inline;
}

.btn-xs {
    padding: .20rem .12rem;
    font-size: .8rem;
}

#jumbo-header {
    background: url("https://res.cloudinary.com/dgeb3iekh/image/upload/v1539472624/pexels-photo-672358_f9jpbu.jpg") no-repeat center;
    background-size: cover;
    color: white;
}

#jumbo-header h1 {
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}